.indicator{
    height: 60px;
    border-radius: 5px 5px 0 0 ;
    border: 2px solid #ececec;
    width: 260px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 33px;
    overflow: auto;
}